<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> Hi! I'm Ludy.</h1>
		<p>Scenester dreamcatcher cred, Blue Bottle Tumblr chambray plaid mixtape yr Kickstarter taxidermy asymmetrical slow-carb hella locavore. Mlkshk chambray tilde biodiesel keytar, banh mi yr deep v keffiyeh pork belly meggings raw denim crucifix. Distillery cred pug, lumbersexual hashtag dreamcatcher XOXO cray American Apparel jean shorts occupy seitan letterpress tilde. Occupy viral raw denim fashion axe iPhone direct trade, McSweeney's fanny pack trust fund pork belly bitters flexitarian fixie Banksy. Intelligentsia Marfa post-ironic wayfarers aesthetic, authentic cold-pressed stumptown Echo Park jean shorts Odd Future street art try-hard. Twee dreamcatcher Bushwick, kitsch heirloom crucifix wayfarers Marfa fingerstache slow-carb hella. Godard health goth Truffaut, 90's messenger bag single-origin coffee chambray Brooklyn tofu.</p>
	</div>
</div>
